@charset "UTF-8";
.tab-icon-border {
    background-color: #ffa6a6;
}
.tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ffa6a6), to(#fffecc));
}

.window[data-focused] .tab-icon-border {
    background-color: #fffecc;
}
.window[data-focused] .tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#fffecc), to(#ffa6a6));
}

.tab-icon-border, .tab-list-border {
    border: 1px outset #3b2a00;
}
.tab-icon, .tab-list {
    border: 1px inset #917d39;
}

.tab-icon-text {
    color: #907f4b;
}
