@charset "UTF-8";
.tab-icon-border {
    background-color: #ffc704;
}
.tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ffc704), to(#ffe9a6));
}

.window[data-focused] .tab-icon-border {
    background-color: #ffe9a6;
}
.window[data-focused] .tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ffe9a6), to(#ffc704));
}

.tab-icon-border, .tab-list-border {
    border: 1px outset #3b2a00;
}
.tab-icon, .tab-list {
    border: 1px inset #917d39;
}

.tab-icon-text {
    color: #6f3400;
}

.tab-icon-dropdown {
    background-image: url('Orange-button-menu.png');
}

#URL-bar {
    color: #291b00;
}

button.Options-button:active, button.Options-button:hover {
    background-color: #fffceb !important;
}
