@charset "UTF-8";
.tab-icon-border {
    background-color: #e74303;
}
.tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#e74303), to(#ffa274));
}

.window[data-focused] .tab-icon-border {
    background-color: #ffa274;
}
.window[data-focused] .tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ffa274), to(#e74303));
}

.tab-icon-border, .tab-list-border {
    border: 1px outset #3b0c00;
}
.tab-icon, .tab-list {
    border: 1px inset #914c39;
}

.tab-icon-text {
    color: #6f1200;
}

.tab-icon-dropdown {
    background-image: url('Red-button-menu.png');
}

#URL-bar {
    color: #290000;
}

button.Options-button:active, button.Options-button:hover {
    background-color: #ffeadb !important;
}
